@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,800;1,200;1,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.heading{
    position: relative;
}
.heading .main-heading:after{
    content: '';
    display: block;
    background:#212529;
    width: 410px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 1.5rem;
    z-index: -2;
}
.heading .main-heading:before{
    content: '';
    display: block;
    background:#212529;
    width: 410px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 1.5rem;
    z-index: -2;
}
.main-heading span{
    background:#fff;
}
.shopbtn{
background:#301934;}

.image img{
    transition: all 0.5s ease-in-out;
}

.image img:hover{
    transform: scale(1.06);
}